<div id="extension-homebridge-content-container" class="extension-homebridge-not-launched-yet">
  
    <div id="extension-homebridge-content">
        <h3 id="extension-homebridge-title">Homebridge</h3>

		<div id="extension-homebridge-tab-buttons-container" class="extension-homebridge-tab-buttons" style="display:none">
            <button id="extension-homebridge-tab-button-things" class="extension-homebridge-main-tab-button extension-homebridge-tab-selected">Things</button>
            <button id="extension-homebridge-tab-button-pairing" class="extension-homebridge-main-tab-button">Pairing</button>
            <button id="extension-homebridge-tab-button-plugins" class="extension-homebridge-main-tab-button">Plugins</button>
        </div>
        
        <div id="extension-homebridge-tabs-container"> 
            
            <div id="extension-homebridge-tab-things" class="extension-homebridge-tab">
                
                <div class="extension-homebridge-centered-page">
                    
                    <div id="extension-homebridge-loading">
                        <div class="extension-homebridge-spinner">
                            <div></div><div></div><div></div><div></div>
                        </div>
                        <p id="extension-homebridge-disconnected-hint" class="extension-homebridge-hidden">This is taking longer than expected. Try rebooting your Candle Controller.</p>
                    </div>
                    
                    <div id="extension-homebridge-main-busy-installing" class="extension-homebridge-area" style="display:none">
                        <h2>Installing Homebridge</h2>
                        <div class="extension-homebridge-spinner">
                            <div></div><div></div><div></div><div></div>
                        </div>
                        
                        <div class="extension-homebridge-progress-bar-container">
                            <div id="extension-homebridge-main-busy-installing-progress-bar"></div>
                        </div>
                        
                        <p>Please wait</p>
                    </div>
                    
                    <div id="extension-homebridge-main-busy-installing" class="extension-homebridge-area" style="display:none">
                        <h2>Installation failed</h2>
                        <p>Try uninstalling and then re-installing this addon</p>
                        <p>Make sure you have a working internet connection</p>
                    </div>
                    
                    <div id="extension-homebridge-main-installation-complete" class="extension-homebridge-area" style="display:none">
                        <h2>Installation complete</h2>
                        <p>Congratulations, you can now use Homebridge. </p>
                    </div>
                    
                    <div id="extension-homebridge-show-pairing-button-container" style="display:none;text-align:right">
                        <button id="extension-homebridge-show-pairing-button" class="text-button">Pair with iPhone or iPad</button>
                    </div>
                    
                    <div id="extension-homebridge-main-launched" class="extension-homebridge-area extension-homebridge-after-launch" style="display:none">
                        <h2 style="text-align:center">Homebridge has started</h2>
                    </div>
                    
                    
                    <div class="extension-homebridge-area extension-homebridge-after-launch">
                        <h2>Things to share with Homekit</h2>
                        <div id="extension-homebridge-thing-list">
                            <div class="extension-homebridge-spinner">
                                <div></div><div></div><div></div><div></div>
                            </div>
                        </div>
                        <div style="text-align:right;margin:2rem 0">
                            <button id="extension-homebridge-save-things-button" class="text-button">Save</button>
                        </div>
                    </div>
                                        
                </div>
                
            </div>
            
            
            
            <div id="extension-homebridge-tab-pairing" class="extension-homebridge-tab extension-homebridge-hidden">
                <div class="extension-homebridge-centered-page">
                
                    <div id="extension-homebridge-pairing" class="extension-homebridge-area">
                        <h2>Pairing</h2>
                        <p>If you want your devices to show up in your Homekit app you will need to pair your Candle Controller with your Homekit controller (such as a Homepod or Apple TV). You will need an iPhone or iPad to do this.</p>
                        <p>Make sure the iPhone or iPad is connected to the same network as the Candle Controller and Homekit Controller. Then follow these steps:</p>
                        <ol>
                            <li>Open the Home app</li>
                            <li>Select the Home tab</li>
                            <li>Select the + button</li>
                            <li>Select "Add accessory"</li>
                            <li>Scan the QR code below</li>
                        </ol>
                        <div class="extension-homebridge-centering-container">
                            <div id="extension-homebridge-pairing-qr-code">
                                <div class="extension-homebridge-spinner">
                                    <div></div><div></div><div></div><div></div>
                                </div>
                            </div>
                            <p style="text-align:center"><span id="extension-homebridge-pairing-code"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            <div id="extension-homebridge-tab-plugins" class="extension-homebridge-tab extension-homebridge-hidden">
                <div class="extension-homebridge-centered-page">
                    <div id="extension-homebridge-main-launched" class="extension-homebridge-area extension-homebridge-after-launch">
                        <h2>Plugins</h2>
                        <p>This is a feature for advanced users. It allows you to connect all kinds of devices that are not officially supported to your Apple Homekit controller.</p>
                        <p>Once a plugin is installed you can change its settings in the separate Homebridge interface:</p>
                        <p id="extension-homebridge-config-ui-readable-link">...</p>
                        <div style="text-align:right">
                            <a id="extension-homebridge-config-ui-link" href="#" target="_blank"><button class="text-button">Open Homebridge configuration</button></a>
                        </div>
                    </div>
                    <div id="extension-homebridge-installed-plugins-output-container" class="extension-homebridge-area extension-homebridge-after-launch">
                        <h2>Installed plugins</h2>
                        <div id="extension-homebridge-installed-plugins-output"></div>
                    </div>
                    
                    <div class="extension-homebridge-area">
                        <h2>Add plugins</h2>
                        <div style="display:flex;">
                            <input id="extension-homebridge-search-input" type="text" placeholder="Search" style="flex-grow:1"/>
                            <button id="extension-homebridge-search-button" class="text-button">Search</button>
                        </div>
                    
                        <div id="extension-homebridge-search-output"></div>
                    </div>
                    
                </div>
                <button id="extension-homebridge-show-second-page-button" class="icon-button extension-homebridge-after-launch"></button>
            </div>
            
            
            
            <div id="extension-homebridge-second-page">
                <div class="extension-homebridge-centered-page">

                
                    <!--
                    <div class="extension-homebridge-area">
                        <h3>Add new item</h3>
                        <p>You could use this second page to allow users to add a new item to the list on the main page.</p>
                        <input type="text" id="extension-homebridge-add-item-name" placeholder="name" />
                        <input type="number" id="extension-homebridge-add-item-value" placeholder="value" />
                        <button id="extension-homebridge-add-item-button" class="text-button">Add</button>
                    </div>
                    -->
                    <!-- <img src="/extensions/homebridge/images/lotus.jpg" /> 
                    <div id="extension-homebridge-back-button-container">
                        <button id="extension-homebridge-back-button" class="back-button icon-button" data-l10n-id="back-button" aria-label="Back"></button>
                    </div>
                    -->
                </div>
        
            </div>
            
		
        </div>
        
        
        <!-- This is the item that is cloned to create a list. The Zigbee2MQTT addon does this, for example. -->
		<div id="extension-homebridge-original-item" class="extension-homebridge-item">

            <div class="extension-homebridge-item-main">
                
                <div class="extension-homebridge-item-left">
                    <div class="extension-homebridge-item-icon">
                        <!-- You could add an icon depending on the type of item -->
                    </div>
                </div>
            
    			<div class="extension-homebridge-item-setter">
    				<h4 class="extension-homebridge-item-name">Item name</h4>
                    <div class="extension-homebridge-item-value"></div>
    			</div>
                
            </div>

			<div class="extension-homebridge-item-menu">
				<div class="extension-homebridge-item-right">
					<div class="extension-homebridge-item-delete-button">&nbsp;</div>
				</div>
			</div>

		</div>
        
        <!-- Give your addon's content to extra margin at the bottom - prefereable 50vh (50% height of the viewport). This is because touch screen users will need space at the bottom to show the virtual keyboard, and be able to scroll your content above it. -->
        <br/>
        <br/>

        <div id="extension-homebridge-debug-warning" style="display:none">
            <h2>Debugging is enabled</h2>
            <p>This addon is currently set to save detailed information about its operation in the internal logs. This may impact your privacy, as this also means that insights into your behaviour might be stored in those logs.</p>
            <p>You can disable debugging mode at the settings page for this addon.</p>
        </div>

        <br/>
        
    </div>
    
</div>





